.header-logo {
    background-image: url("../image/mmcls-logo.png");
    background-size: 204px 40px;
    height: 40px;
    width: 204px;
}

pre {
    white-space: pre;
}

article.pytorch-article .section :not(dt) > code {
  padding: .2em .4em;
  background-color: #f3f4f7;
  border-radius: 5px;
}

table.colwidths-auto td {
  width: 50%
}
